<%= simple_form_for(@member, :html => { :class => 'form-horizontal' }, :defaults => { :input_html => { :class => 'span4' } }) do |f| %>
  <% if @member.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name, :label => 'Name', :placeholder => 'Nachname' %>
  </div>
    <div class="field">
      <%= f.input :first_name, :label => 'Vorname', :placeholder => 'Vorname' %>
    </div>
  <div class="field">
    <%= f.input :street, :label => 'Straße', :placeholder => 'Straße' %>
  </div>
  <div class="field">
    <%= f.input :zip, :label => 'Postleitzahl', :placeholder => 'PLZ' %>
  </div>
    <div class="field">
      <%= f.input :city, :label => 'Ort', :placeholder => 'Ort' %>
    </div>
  <div class="field">
    <%= f.input :phone, :label=> 'Telefon', :placeholder => 'Telefon' %>
  </div>
  <div class="field">
    <%= f.input :email, :label => 'E-Mail', :placeholder => 'mail@server.com' %>
  </div>
  <div class="field">
    <%= f.input :birthday, :as => :date, :start_year => Date.today.year - 90,
                :end_year => Date.today.year - 1, :discard_day => false,
                :order => [:day, :month, :year], :label => 'Geburtstag', :input_html => { :class => '' } %>
  </div>
  <div class="field">
    <%= f.input :role_id, :label => 'Mitgliedstyp', :collection => @roles %>
  </div>
  <div class="actions">
    <%= f.submit 'Speichern', :class => 'btn' %>
  </div>
<% end %>
