<h1>Mitgliederliste</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>First name</th>
    <th>Street</th>
    <th>Zip</th>
    <th>City</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Status</th>
    <th>Aktionen</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.first_name %></td>
    <td><%= member.street %></td>
    <td><%= member.zip %></td>
    <td><%= member.city %></td>
    <td><%= member.phone %></td>
    <td><%= member.email %></td>
    <td><%= member.birthday %></td>
    <td><%= member.status_id %></td>
    <td><div class="btn-group">
      <% # Bootstrap-Button-Gruppe festlegen, mit Funktionalität %>
      <%= link_to(content_tag(:i, nil, :class=>"icon-search"), member, :class => "btn")  %>
      <%= link_to(content_tag(:i, nil, :class=>"icon-pencil"), edit_member_path(member), :class => "btn")  %>
      <%= link_to(content_tag(:i, nil, :class => "icon-trash"), member, method: :delete, data: { confirm: 'Sind Sie sicher?' }, :class => "btn") %>
    </div></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Mitglied', new_member_path, :class => "btn btn-primary" %>
