<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Vorname:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Straße:</b>
  <%= @member.street %>
</p>

<p>
  <b>PLZ:</b>
  <%= @member.zip %>
</p>

<p>
  <b>Ort:</b>
  <%= @member.city %>
</p>

<p>
  <b>Telefon:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Geburtstag:</b>
  <%= @member.birthday.strftime("%d. %B %Y") %>
</p>

<p>
  <b>Alter:</b>
  <%= age(@member.birthday) %>
</p>

<p>
  <b>Status:</b>
  <%= @member.role_id %>
</p>


<%= link_to 'Bearbeiten', edit_member_path(@member) %> |
<%= link_to 'Zurück', members_path %>
